{% extends "base.html" %}
{% block title %}Riddle me this!{% endblock %}

{% block content %}
<style>
    html {
        height: 100%;
    }
    body {
        background-image: url("/static/images/Riddle.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .mainForm{
        background-color: white;
        width: 200px;
        padding: auto;
        text-align: center;
    }
</style>
<form action="" method="post" autocomplete="off" class="mainForm">
    <div> Riddle me this:</div>
	<div>
		<header class="riddle">{{ riddle }}</header>
		
    <div>
    <div>
        <label for="answer">Answer: </label>
        <input type="text" name="answer">
	<div>
	<div>
        <input type="submit" name="btn" value="submit" />
        <input type="submit" name="btn" value="refresh"/>
    <div> 

    <div class="message"> 
        {% if response != None %}
        {% if response == False %}

           <p class="error"> Error: </p> {{error}}

           {% endif%}

           {% if response == True %}
           <p class="solution"> You're right! Congrats!! </p> 
           {% endif%}

        {% endif%}


    </div>
</form>

{% endblock %}